@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img{
  display: block;
}

/* Navbar */
nav {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.5s;
}

.logo {
  font-size: 1.6em;
  transition: 0.5s;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-right: 9rem;
  margin-top: 0;
}

ul li {
  padding-right: 1.7rem;
}

nav a:hover {
  color: white;
  border-bottom: 1px solid white;
}

nav a {
  color: rgb(211, 211, 211);
  font-weight: thin;
  text-decoration: none;
  letter-spacing: 1.5px;
  transition: 0.5s;
}

.hamburger {
  padding-right: 2.9rem;
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 32px;
  height: 3px;
  margin: 4px;
  background-color: antiquewhite;
  transition: all 0.3s ease;
}

@media screen and (max-width: 769px) {
  .hamburger {
    display: block;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    position: fixed;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.92);
    top: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.9;
  }

  .nav-links li {
    opacity: 0;
  }
}
.nav-active {
  transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-in {
  animation: navLinkFade 0.5s ease forwards;
}

.nav-links li {
  animation-delay: calc(var(--index) / 7 * 1s + 0.5s);
}

.reverse-animation {
  animation-direction: reverse !important;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

/* Splash */

.splash {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: url(/images/tre-ek-splash.webp);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center, center;
  background-size: 150% 150%;
  background-attachment: fixed;
  background-blend-mode: multiply;
  animation: shrink 13s infinite alternate;
  width: 100%;
  height: 100vh;
}
@keyframes shrink {
  0% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 100% 100%;
  }
}
.splash-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
 h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.4rem;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (max-width: 996px) {
  .splash h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1.3rem;
    margin: 0;
  }
}

/* Carousel */

.carousel {
  position: relative;
}

.carousel-item,
.carousel-item-hidden {
  display: none;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; 
  
}

.image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  pointer-events: none; /* Allows clicks to pass through */
}

.carousel-image {
  width: 100%; 
  height: 100vh; 
  object-fit: cover; 
  animation: shrink 13s infinite alternate;
}


.carousel-image::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* semi-transparent black overlay */
  pointer-events: none; /* Allows clicks to pass through */
}

@keyframes shrink {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


.carousel-item img {
  width: 100%;
}

.carousel-item-visible {
  display: block;
  -webkit-animation: fadeVisibility 2s;
  animation: fadeVisibility 2s;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: none;
  top: 19%;
  left: 10%;
  transform: translateY(50%);
  color: white;
}

@-webkit-keyframes fadeVisibility {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeVisibility {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/* About */

.about {
  height: 100vh;
  background-color: rgb(37, 34, 34);
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 0;
}

.container{
  max-width: 1400px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid violet;
}

.about-info img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-info-image{
  background-image: url(/images/front.webp);
  background-size: cover;
  background-position: bottom;
  width: 50%;
  height: 100%;
}

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  min-width: 360px;
  border-left: 1px solid violet;
}
.about-info p{
  padding: 1.6rem;
  margin: 0;
  letter-spacing: .10rem;
}

@media screen and (max-width: 996px){
  .about{
    height: auto;
  }
  .about-info-image{
    width: 100%;
    height: 30rem;
  }
  .about-info{
    justify-content: flex-start;
    margin-top: 0;
    padding: 1.5rem 0;
    border-left: none;
    border-top: 1px solid violet;
    height: auto;
  }
  .container{
    height: auto;
  }

}